<div class="page-header">
  <%= link_to curriculum_languages_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @curriculum_language, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing curriculum_language</h1>
</div>

<%= render 'form' %>
