<div class="page-header">
  <%= link_to curriculum_languages_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_curriculum_language_path(@curriculum_language), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show curriculum_language</h1>
</div>

<dl class="dl-horizontal">
</dl>
